{% extends "web_ui/base.html" %}

{% block content %}
	<script>
		function fetchPlayers() {
			fetch("{% url 'get_players' game.code %}")
			.then(response => response.json())
			.then(data => {
				document.getElementById("player_count").innerHTML = "(" + data.count + ")";
				let playerTable = document.getElementById("players-table");
				playerTable.innerHTML = "<thead><tr><th>Player Name</th><th>Action</th></tr></thead><tbody></tbody>";
				data.players.forEach(player => {
					let new_name = playerTable.insertRow(-1);
					new_name.insertCell(0).innerHTML = player.name;
					new_name.insertCell(1).innerHTML = "<button onclick='removePlayer(" + player.id + ")'>Remove</button>";
				});
				if(data.started)
				{
					fetchRole();
					fetch("{% url 'get_players' game.code %}")
			.then(response => response.json())
			.then(data => {
				let playerTable = document.getElementById("players-table");
				playerTable.innerHTML = "<thead><tr><th>Player Name</th><th>Role</th></tr></thead><tbody></tbody>";
				data.players.forEach(player => {
					let new_name = playerTable.insertRow(-1);
					new_name.insertCell(0).innerHTML = player.name;
					new_name.insertCell(1).innerHTML = player.role;
				});});
				}else{
					setTimeout(fetchPlayers, 5000);
				}
			});
		}
		
		function removePlayer(playerID)
		{
			fetch("{% url 'remove_player' %}" + `?player_id=${playerID}`)
			.then(response => response.json())
			.then(data => {
				if(data.status == "success")
				{
					alert("Player has been removed from the game");
				}else
				{
					alert("Player could not be removed");
				}
			});
		}
		
		function fetchRole() {
			fetch("{% url 'get_role' %}")
			.then(response => response.json())
			.then(data => {
				let roleDisplay = document.getElementById("role_display");
				roleDisplay.innerHTML = "<b>Your role is " + data.role + " " + data.description + "</b>";
			});
		}
		
		fetchPlayers();
		//setInterval(fetchPlayers, 5000); // Fetch players every 5 seconds
	</script>
    <h1>Game Created</h1>
    <p>Game Code: <strong>{{ game.code }}</strong></p>
    <h2>Players</h2> <span id="player_count"></span>
	<table id="players-table">
		<thead>
			<tr>
				<th>Player Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for player in players %}
				<tr>
					<td>{{ player.name }}</td>
					<td><button onclick="removePlayer('{{ player.id }}')">Remove</button></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if not game.started %}
    <form method="POST" action="{% url 'start_game' game.code %}">
        {% csrf_token %}
        <h3>Optional Roles</h3>
		{% for role in roles %}
			<div>
				<label><input type="checkbox" name="roles" value="{{role.name}}">{{role.name}}</label><br>
				<p>
					{{role.description}}
				</p>
			</div>
		{% endfor %}

        <h3>Number of Mafia</h3>
        <input type="number" name="num_mafia" min="1" max="150" value="1"><br><br>

        <button type="submit">Start Game</button>
    </form>
	{% endif %}
	
	{% if game.started %}
    <div id="role_display">
    </div>
    <a class="reset-button" href="{% url 'reset' game.code %}">Reset</a>
	{% endif %}
{% endblock %}
