{% extends "web_ui/base.html" %}
{% block content %}
    <h1>Join Game</h1>
    <form method="POST">
        {% csrf_token %}
		<div>
			<input type="text" name="player_name" placeholder="Username" required>
		</div>
		<div>
			<input id="game_code" type="text" name="game_code" placeholder="Enter Game Code" required>
		</div>
        <button type="submit">Join</button>
    </form>
	{% if msg %}
		<p>{{msg}}</p>
	{% endif %}
	
	{% for game in games %}
		<P>
			<button onclick="document.getElementById('game_code').value = '{{game.code}}';">{{game.code}}</button>
		</P>
	{% endfor %}
{% endblock %}